coveralls
responses
freezegun
# TODO set the next point release of openwisp-utils when ready
openwisp-utils[qa] @ https://github.com/openwisp/openwisp-utils/tarball/master
openwisp-controller~=0.8
# needed to test integrations
openwisp-monitoring @ https://github.com/openwisp/openwisp-monitoring/tarball/master
